<div *ngIf="player">
    <app-header></app-header>
    <app-bio [show]="show" name="{{player.name}} {{player.lastname}}" [data_bio]="player.data_bio"></app-bio>
    <div class="py-20 px-16 bg-light-gray">
        <div class="flex flex-col justify-between items-center">
            <div class="flex flex-col items-center">
                <h1 class="text-6xl font-bold">{{player.name}} {{player.lastname}}</h1>
                <div class="my-6 flex">
                    <img [src]="player.flag.url" class="w-12 mr-5" alt="flag" />
                    <p>{{player.country}}</p>
                </div>
                <div class="flex gap-8">
                    <div class="font-bold">
                        <h5 class="text-xl">HEIGHT</h5>
                        <h3 class="text-4xl">{{player.height}} <span class="text-2xl">cm</span></h3>
                    </div>
                    <div class="font-bold">
                        <h5 class="text-xl">WEIGHT</h5>
                        <h3 class="text-4xl">{{player.weight}} <span class="text-2xl">lbs</span></h3>
                    </div>
                </div>
            </div>
            <div>
                <app-games></app-games>
                <app-highlights [url]="player.video"></app-highlights>
            </div>
        </div>
    </div>
    <div class="py-20 px-16 bg-bold-gray">
        <div class="flex flex-col justify-between">
            <div>
                <div class="flex justify-between">
                    <h4 class="mr-8 font-bold">BORN</h4>
                    <p class="text-2xl">{{player.birthday}}</p>
                </div>
                <div class="flex justify-between border-t border-b border-gray-500 py-4 my-4">
                    <h4 class="mr-8 font-bold">AGE</h4>
                    <p class="text-2xl">{{player.birthday}}</p>
                </div>
                <div class="flex justify-between">
                    <h4 class="mr-8 font-bold">FROM</h4>
                    <p class="text-2xl">{{player.from}}</p>
                </div>
            </div>
            <hr class="border-t border-gray-500 my-4" />
            <div>
                <div class="flex justify-between">
                    <h4 class="mr-8 font-bold">BARÇA DEBUT</h4>
                    <p class="text-2xl">{{player.debut}}</p>
                </div>
                <div class="flex justify-between border-t border-b border-gray-500 py-4 my-4">
                    <h4 class="mr-8 font-bold">YEARS IN BARCELONA</h4>
                    <p class="text-2xl">{{player.debut}}</p>
                </div>
                <div class="flex justify-between">
                    <h4 class="mr-8 font-bold">PREVIOUSLY</h4>
                    <p class="text-2xl">{{player.previously}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-20 px-16 bg-light-gray">
        <div class="flex flex-col gap-8 justify-evenly items-center">
            <app-stats [title]="player.stat_title_1" [data]="player.stat_data_1" color="bg-light-blue"></app-stats>
            <app-stats [title]="player.stat_title_2" [data]="player.stat_data_2" color="bg-bold-blue"></app-stats>
            <app-stats [title]="player.stat_title_3" [data]="player.stat_data_3" color="bg-light-blue"></app-stats>
        </div>
    </div>
    <div class="py-20 px-16 bg-bold-gray">
        <div class="flex flex-col gap-5 justify-between items-center">
            <img [src]="player.bio.url" alt="bio" />
            <div class="flex flex-col gap-4 items-baseline">
                <h2 class="text-3xl text-justify font-bold">{{player.title_bio}}</h2>
                <p class="text-xl text-justify whitespace-pre-wrap">{{player.data_bio | preview}}</p>
                <img src="/assets/more.png" (click)="show=true" alt="more" />
            </div>
        </div>
    </div>
</div>