<div *ngIf="player" [class.dark]="darkmode">
    <app-header [facebook]="player.facebook" [twitter]="player.twitter" [instagram]="player.instagram"></app-header>
    <app-bio name="{{player.name}} {{player.lastname}}" [data_bio]="player.data_bio"></app-bio>
    <img [src]="player.profile.url" class="hidden lg:block absolute m-auto left-0 right-0 text-center z-10" style="width: 543px;" alt="bio" />
    <div class="py-20 px-16 bg-light-gray dark:bg-medium-dark">
        <div class="flex flex-col justify-between items-center container mx-auto lg:flex-row">
            <div class="flex flex-col items-center lg:items-start dark:text-white">
                <h1 class="text-6xl font-bold text-center lg:text-7xl lg:max-w-0">{{player.name}} {{player.lastname}}</h1>
                <div class="my-6 flex lg:my-12">
                    <img [src]="player.flag.url" class="w-12 mr-5" alt="flag" />
                    <p>{{player.country}}</p>
                </div>
                <div class="flex gap-8 lg:gap-11">
                    <div class="font-bold">
                        <h5 class="text-xl">HEIGHT</h5>
                        <h3 class="text-4xl lg:text-5xl">{{player.height}} <span class="text-2xl">cm</span></h3>
                    </div>
                    <div class="font-bold">
                        <h5 class="text-xl">WEIGHT</h5>
                        <h3 class="text-4xl lg:text-5xl">{{player.weight}} <span class="text-2xl">lbs</span></h3>
                    </div>
                </div>
            </div>
            <div>
                <app-games></app-games>
                <app-highlights [url]="player.video"></app-highlights>
            </div>
        </div>
    </div>
    <div class="py-20 px-16 bg-bold-gray dark:bg-light-dark">
        <div class="flex flex-col justify-between container mx-auto lg:flex-row dark:text-white">
            <div>
                <div class="flex justify-between">
                    <h4 class="mr-8 font-bold">BORN</h4>
                    <p class="text-2xl text-right">{{player.birthday | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="flex justify-between border-t border-b border-gray-500 py-4 my-4">
                    <h4 class="mr-8 font-bold">AGE</h4>
                    <p class="text-2xl text-right">{{player.birthday | age}}</p>
                </div>
                <div class="flex justify-between">
                    <h4 class="mr-8 font-bold">FROM</h4>
                    <p class="text-2xl text-right">{{player.from}}</p>
                </div>
            </div>
            <hr class="border-t border-gray-500 my-4 lg:hidden" />
            <div>
                <div class="flex justify-between">
                    <h4 class="mr-8 font-bold">BARÇA DEBUT</h4>
                    <p class="text-2xl text-right">{{player.debut | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="flex justify-between border-t border-b border-gray-500 py-4 my-4">
                    <h4 class="mr-8 font-bold">YEARS IN BARCELONA</h4>
                    <p class="text-2xl text-right">{{player.debut | age}}</p>
                </div>
                <div class="flex justify-between">
                    <h4 class="mr-8 font-bold">PREVIOUSLY</h4>
                    <p class="text-2xl text-right">{{player.previously}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-20 px-16 bg-light-gray dark:bg-medium-dark">
        <div class="flex flex-col gap-8 justify-evenly items-center container mx-auto md:flex-row">
            <app-stats [title]="player.stat_title_1" [data]="player.stat_data_1" color="bg-light-blue"></app-stats>
            <app-stats [title]="player.stat_title_2" [data]="player.stat_data_2" color="bg-bold-blue"></app-stats>
            <app-stats [title]="player.stat_title_3" [data]="player.stat_data_3" color="bg-light-blue"></app-stats>
        </div>
    </div>
    <div class="py-20 px-16 bg-bold-gray dark:bg-light-dark">
        <div class="flex flex-col gap-5 justify-between items-center container mx-auto md:gap-6 lg:flex-row dark:text-white">
            <img [src]="player.bio.url" class="w-full lg:w-1/3" alt="bio" />
            <div class="flex flex-col gap-4 items-baseline md:gap-5 lg:w-3/5">
                <h2 class="text-3xl text-justify font-bold md:text-4xl lg:text-5xl">{{player.title_bio}}</h2>
                <p class="text-xl text-justify whitespace-pre-wrap lg:text-2xl">{{player.data_bio | preview}}</p>
                <img src="/assets/more.png" class="w-16 cursor-pointer lg:w-20" (click)="openModal()" alt="more" />
            </div>
        </div>
    </div>
</div>