<div class="bg-white p-5 md:p-8">
    <div class="flex justify-between items-center container mx-auto">
        <img src="/assets/logo.png" routerLink="/main" class="w-12 cursor-pointer lg:w-16" alt="logo">
        <div class="flex justify-center text-2xl gap-4 md:gap-6">
            <a [href]="facebook" target="_blank">Facebook</a>
            <a [href]="twitter" target="_blank">Twitter</a>
            <a [href]="instagram" target="_blank">Instagram</a>
        </div>
        <img src="/assets/darkmode.png" class="w-12 cursor-pointer lg:w-16" alt="logo">
    </div>
</div>